@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&family=Syne:wght@400..800&display=swap');

:root {
    --cor-de-fundo: #0f172a;
    --fundo-do-card: #1e293b;
    --cor-de-destaque: #aa00c4;
    --texto-principal: #f8fafc;
    --texto-suave: #94a3b8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sora", sans-serif;
}

body {
    background-color: var(--cor-de-fundo);
    height: 100vh;
    color: var(--texto-principal);
    padding: 1rem;
    background: linear-gradient(120deg, #1e293b 20%, #0f172a 70%, #020617 100%);
    background-attachment: fixed;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    background-color: var(--cor-de-fundo);
    z-index: 1000;
    display: flex;
    align-items: center;
    padding: 1rem;
    border-bottom: 3.5px solid var(--cor-de-destaque);

}

.logo-header {
    color: var(--texto-principal);
}

nav {
    display: none;
}

nav a:hover {
    color: var(--cor-de-destaque);
}

main {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;
}

.apresentacao {
    text-align: center;
    color: var(--texto-principal);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.apresentacao h1 {
    font-size: 3.5rem;
}

.apresentacao h2 {
    font-size: 1rem;
    font-style: italic;
}

.sobre {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 8rem;
}

.sobre p {
    line-height: 1.4rem;
}

.projetos-container {
    display: flex;
    flex-direction: column;
    padding-top: 5rem;
    gap: 2rem;
}

.projetos-header{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.projeto-cards {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 85vw;
    margin: 0 auto;
}

.projetos-header h3 {
    padding-left: 0.3rem;
}

.projeto {
    margin-top: 2rem;
    border-radius: 12px;
    box-shadow: var(--cor-de-destaque) 3px 3px 3px;
    transition: all 0.5s ease;
}

.projeto:hover {
    transform: scale(101%);
}

.projeto img {
    border-radius: 12px 12px 0 0;
}

.projeto-descricao {
    display: flex;
    flex-direction: column;
    padding: 1rem 0.5rem;
    gap: 0.8rem;
}

.projeto-link {
    font-size: 0.9rem;
    color: var(--texto-principal);
}

.hard-skills {
    margin-top: 5rem;
}

.hard-skills-header{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.hard-skills-cards {
    display: flex;
    gap: 2rem;
    padding-top: 2rem;
    flex-wrap: wrap;
}

.hard-skills-card {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 135px;
    height: 135px;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    font-size: 1rem;
    border-left: 4px solid var(--cor-de-destaque);
    transition: all 0.5s ease;
    margin-top: 2rem;
}

.hard-skills-card:hover {
    border-left-width: 10px;
}

.hard-skills-card i {
    padding-top: 15px;
    font-size: 2.5rem;
}

.soft-skills {
    margin-top: 5rem;
}

.soft-skills-header{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.soft-skills-lista {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
}

.soft-skills-item {
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

.formacao {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 5rem;
}

.formacao-header{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.formacao-cards {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-top: 2rem;
}

.formacao-card {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 1.5rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-left: 5px solid var(--cor-de-destaque);
    transition: all 0.5s ease;
}

.formacao-card h3 {
    font-size: 1.2rem;
}

.formacao-card h4 {
    color: var(--cor-de-destaque);
}

.formacao-card p {
    color: var(--texto-suave);
}

.formacao-card:hover {
    border-left-width: 15px;
}

.cursos {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.cursos-header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.cursos-cards {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}